.paymentMethods {
  border-top: 1px solid var(--white);
  padding-top: 6rem;

  h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  > main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 8rem;
    gap: 2rem;

    .paymentMethod {
      border: 1px solid var(--white);
      padding: 2rem;
      width: 33%;
      text-align: center;

      img {
        margin-bottom: 1.2rem;
        max-width: 100%;
      }

      strong {
        margin-bottom: 1rem;
        display: block;
      }

      p {
        font-size: 0.8rem;
        line-height: 1.4rem;
      }

      .embed {
          margin-top: 2rem;
      }
    }
  }

  @media (max-width: 600px) {
    > main {
      display: grid;
      grid-template-columns: 1fr;
      margin: 1rem;

      justify-content: center;

      .paymentMethod {
        width: 70%;
        margin: 0 auto;
      }
    }
  }
}
